<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@comment.errors.count, "Error") %>
        Stopped Submit:
    </h2>

    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@comment) do |c| %>
  <%= c.hidden_field :post_id %>
  <%= c.label :content %>
  <%= c.text_area :content %>
  <br><br>
  <%= c.submit "Submit" %>
<% end %>