<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "Error") %>
        stopped this account from being created:
    </h2>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user, url: '/signup') do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br><br>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <br><br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br><br>
  <%= f.submit "Submit" %>
<% end %>