<h1><%= @post.title %> - $<%= @post.price %></h1> 
<h3><%= @post.content %></h3>
<h4>Author: <%= @post.user.username %></h4>

<% if @post.accepted? %>
  <h4>Purchased by: <%= @post.buyer_user.username %></h4>
<% else %>
  <%= form_for(@post) do |f| %>
    <%= submit_tag "Buy this item" %>
  <% end %>
<% end %>

<h4><%= link_to "See Comments", comments_path %></h4>
<h4><%= link_to "Add Comment", new_comment_path %></h4>
