<h1><%= @post.title %> - $<%= @post.price %></h1> 
<h3><%= @post.content %></h3>
<h4>Author: <%= @post.user.username %></h4>

<% if @post.user == current_user %>
<%= button_to 'Edit', edit_post_path(@post) %>
<%=  button_to "Delete Post", post_path(@post), method: :delete %><br>
<% end %>

<h4><%= link_to "All Comments", comments_path %> - 
<%= link_to "Add Comment", new_comment_path %></h4>
<% @post.comments.each do |c| %>
  <li><%= link_to c.content, comment_path(c) %> - <%= c.user.username %></li>
<% end %>
