<h1><%= @post.title %> - $<%= @post.price %></h1> 
<h3><%= @post.content %></h3>
<h4>Author: <%= @post.user.username %></h4>

<% if @post.user == current_user %>
<%= link_to 'Edit', edit_post_path(@post) %>
<%=  button_to "Delete Post", post_path(@post), method: :delete %><br>
<% else %>
<!-- <%= form_for(@post) do |f| %>
<%= f.submit "Buy" %>
<% end %> -->
<% end %>

<h4><%= link_to "All Reviews", post_reviews_path(@post) %> - 
<%= link_to "Add Review", new_post_review_path(@post) %></h4>
<% @post.reviews.each do |c| %>
  <li><%= link_to c.content, review_path(c) %> - <%= c.user.username %></li>
<% end %>
