<!DOCTYPE html>
<html>
  <head>
    <title>PracticeRailsEcommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
  <% if logged_in? %>
  <%= link_to_unless_current "Create Post" + " | ", new_post_path %>
  <%= link_to_unless_current "Store" + " | ", posts_path %>
  <%= link_to "Logout" + " | ", logout_path, method: "destroy" %>
  <% else %>
  <%= link_to_unless_current "Login" + " | ", login_path %>
  <%= link_to_unless_current "Sign up" + " | ", signup_path %>
  <% end %>
  </nav>
  <div>
    <% if flash[:not_logged_in] %>
      <%= flash[:not_logged_in] %>
      <% end %>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
