<!DOCTYPE html>
<html>
  <head>
    <title>PracticeRailsEcommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
  <%= link_to "Logout" + " | ", logout_path, method: "destroy" %>
  <%= link_to_unless_current "Login" + " | ", login_path %>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
